@font-face {
    font-family: 'VAGRounded';
    src: url('../fonts/VAGRoundedStd-Light.eot');
    src: url('../fonts/VAGRoundedStd-Light.eot?#iefix')      format('embedded-opentype'),
         url('../fonts/VAGRoundedStd-Light.woff')            format('woff'),
         url('../fonts/VAGRoundedStd-Light.ttf')             format('truetype'),
         url('../fonts/VAGRoundedStd-Light.svg#svgFontName') format('svg'),
         url('../fonts/VAGRoundedStd-Light.otf')             format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'VAGRounded';
    src: url('../fonts/VAGRoundedStd-Bold.eot');
    src: url('../fonts/VAGRoundedStd-Bold.eot?#iefix')       format('embedded-opentype'),
         url('../fonts/VAGRoundedStd-Bold.woff')             format('woff'),
         url('../fonts/VAGRoundedStd-Bold.ttf')              format('truetype'),
         url('../fonts/VAGRoundedStd-Bold.svg#svgFontName')  format('svg'),
         url('../fonts/VAGRoundedStd-Bold.otf')              format('opentype');
    font-weight: bold;
}

/* Branding Bar - General */

div.brand-bar.handheld {
    display: none; /* this is the load state, hiding the handheld markup */
}

body {
    margin-top: 36px !important;
}

div.widget {
    width: 100%;
    float: left;
    clear: both;
}

.brand-bar {
    box-sizing: border-box;
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 15px;
    background: #fff;
    z-index: 998;
    border-bottom: 1px solid #dfe5ea;
}

body.logged-in .brand-bar {
    top: 32px;
}

body.logged-in.device-mobile .brand-bar {
    top: 46px;
}

.brand-bar .wrapper-inner li {
    float: left;
}

.brand-bar .wrapper-inner li.donate {
    float: right;
}

.brand-bar .wrapper-inner li a {
    display: block;
    font: normal 300 12px/20px 'VAGRounded', sans-serif;
    color: #a2a2a2;
    padding: 8px 15px;
    text-decoration: none;  
}

.brand-bar .wrapper-inner li.greenheart a {
    font-weight: bold;
}

.brand-bar .wrapper-inner li.donate a {
    box-sizing: border-box;
    padding: 0 10px;
    margin: 7px 15px;
    border-radius: 100px;
    border: solid 1px #dfe5ea;
    height: 22px;
}

/* Mobile */

body.device-mobile {
    margin-top: 30px !important; 
}

.device-mobile .brand-bar.desktop {
    display: none;
}

.device-mobile .brand-bar.handheld {
    display: block;
}

.device-mobile .brand-bar .wrapper-inner {
    padding: 0 !important;
}

.device-mobile .brand-bar .wrapper-inner li {
    display: none;
}

.device-mobile .brand-bar .wrapper-inner li.greenheart,
.device-mobile .brand-bar .wrapper-inner li.donate {
    display: block;
}

.device-mobile .brand-bar .wrapper-inner li.greenheart {
    position: relative;
}

.device-mobile .brand-bar .wrapper-inner li.greenheart:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    right: 0;
    top: 14px;
    border-style: solid;
    border-width: 3px 3px 0 3px;
    border-color: #a2a2a2 transparent transparent transparent;
}

.device-mobile .brand-bar .wrapper-inner li a {
    line-height: 28px;
    padding: 2px 0 0;
}

.device-mobile .brand-bar .wrapper-inner li.greenheart a {
    padding-right: 11px;
}

.device-mobile .brand-bar .wrapper-inner li.donate a {
    border: 0;
    margin: 0;
}

/* Popup */

html.popup-open {
    margin-top: 0 !important;
}

html.popup-open body {
    overflow: hidden;
    margin-top: 0 !important;
}

.device-mobile .brand-bar .branches-open .branches-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    background: no-repeat center url(../img/close.png);
    cursor: pointer;
}

.device-mobile .brand-bar .branches-open {
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    background: #000;
    z-index: 99998;
    padding: 53px 0 35px;
    text-align: center;
    margin-top: -30px;
}

.device-mobile .brand-bar .branches-open li a {
    display: block;
    width: 100%;
    height: 62px;
    font: normal 300 28px/62px 'VAGRounded', sans-serif;
    color: #ffffff;
    text-decoration: none;
}

.device-mobile .brand-bar .branches-open li.donate a {
    width: 120px;
    height: 40px;
    line-height: 38px;
    border-radius: 100px;
    border: solid 1px #ffffff;
    font-size: 20px;
    padding: 0 30px;
    margin: 23px auto 53px;
}

.device-mobile .brand-bar .branches-open li:last-child a {
    width: 52px;
    height: 53px;
    margin: 0 auto;
    background: no-repeat center url(../img/logo.png);
}

.global-footer,
#footer-global {
    display: none !important;
}



/* CCIGH */

.install-cci-greenheart.device-desktop .brand-bar {
    top: -36px !important;
}

.install-cci-greenheart.device-mobile .brand-bar {
    top: -30px !important;
}


/* Club */

.install-greenheart-club-international {
    background-position: top 36px center;
}

.install-greenheart-club-international.device-mobile {
    background-position: top 30px center;
}

.install-greenheart-club-international .brand-bar {
    position: absolute;
    width: 100%;
    margin-bottom: 0;
    border-radius: 0;
    box-shadow: none;
    z-index: 999;
}

.install-greenheart-club-international .brand-bar li {
    margin-bottom: 0;
}


/* International */

.install-greenheart-international #menu-primary li.donate,
.install-greenheart-international  #header_wrapper_inner > a {
    display: none;
}

.install-greenheart-international .brand-bar {
    z-index: 1000;
}