.q-bb {
  .btn, a.btn {
    background-color: #8ac53f;
    box-shadow: none !important;
    display: inline-block;
    border-radius: 4px;
    color: white;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700 !important;
    padding: 10px 20px !important;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      background: rgba(255, 255, 255, 0.8);
      color: black;
    }
  }

  i.cross {
    background: no-repeat center url(../img/close.png);
    cursor: pointer;
    height: 24px;
    float: none;
    opacity: 1;
    width: 24px;
    z-index: 99;
  }
}

// mobile modals
body.wpadminbar .featherlight.modal-handheld {
  top: 46px;
}