.q-bb-promo {
  background-color: #1D365B;
  bottom: 0;
  color: white;
  display: none;
  position: fixed;
  width: 100%;
  z-index: 999;

  .logo {
    position: relative;
    text-align: center;

    img {
      max-height: none;
      max-width: none;
      position: relative;
      top: -22px;
    }
  }

  .content {
    font-family: Open Sans;

    .title {
      font-weight: 700;
    }
  }

  @media (max-width: 767px) {
    padding: 15px;

    .remove {
      border: 2px solid white;
      background-color: #1D365B;
    }

    .btn {
      font-size: 12px !important;
      width: 100%;
    }

    .title {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 15px;
      text-align: center;
    }
  }

  @media (min-width: 768px) {
    .content {
      font-size: 16px;
      padding-bottom: 25px;
      padding-top: 25px;

      .title {
        font-size: 20px;
        margin-bottom: 5px;
      }
    }

    .cta {
      align-items: center;
      display: flex;
      justify-content: center;
      margin: auto;


      .btn {
        border: 2px solid white;
        background-color: #1D365B;
      }
    }

    i.cross {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
}