#bb-promo {
  /* common start */
  .row-eq-height {
    display: flex;
    flex-wrap: wrap;
  }

  .btn, a.btn {
    background-color: #8ac53f;
    box-shadow: none !important;
    display: inline-block;
    border-radius: 4px;
    color: white;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700 !important;
    padding: 10px 20px !important;
    text-align: center;
    text-transform: uppercase;
  }
  /* common end */

  /* grid start */
  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .row {
    margin-right: -15px;
    margin-left: -15px;
    width: auto;
  }

  .visible-xs, .visible-sm, .visible-md, .visible-lg {
    display: none;
  }
  /* grid end */

  background-color: #1D365B;
  bottom: 0;
  color: white;
  display: none;
  position: fixed;
  z-index: 1;

  .logo {
    position: relative;
    text-align: center;
  }

  .logo img {
    max-height: none;
    max-width: none;
    position: relative;
    top: -22px;
  }

  .content {
    font-family: Open Sans;
    font-size: 16px;
  }

  .content .title {
    font-size: 20px;
    font-weight: 700;
  }

  .remove {
    cursor: pointer;
    z-index: 1;
  }
}

@media (max-width: 767px) {
  #bb-promo {
    padding: 15px;

    .btn {
      font-size: 12px !important;
    }

    .remove {
      border: 2px solid white;
      background-color: #1D365B;
    }

    .cta .btn {
      width: 100%;
    }

    .content .title {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 15px;
      text-align: center;
    }
  }
}

@media (min-width: 768px) {
  #bb-promo {
    .content {
      padding-bottom: 25px;
      padding-top: 25px;
    }

    .content .title {
      margin-bottom: 5px;
    }

    .cta {
      margin: auto;
      text-align: center;
    }

    .cta .btn {
      border: 2px solid white;
      background-color: #1D365B;
    }

    .cta .btn:hover {
      background: rgba(255, 255, 255, 0.8);
    }

    .remove {
      background: no-repeat center url(../img/close.png);
      height: 24px;
      position: absolute;
      right: 10px;
      top: 10px;
      width: 24px;
    }
  }
}

/* grid start */
@media (max-width: 767px) {
  #bb-promo {
    .col-xs-6 {
      width: 50%;
    }

    .col-xs-12 {
      width: 100%;
    }

    .hidden-xs {
      display: none;
    }

    .visible-xs {
      display: block;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #bb-promo {
    .col-sm-3 {
      width: 25%;
    }

    .col-sm-6 {
      width: 50%;
    }

    .hidden-sm {
      display: none;
    }

    .visible-sm {
      display: block;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #bb-promo {
    .hidden-md {
      display: none;
    }

    .visible-md {
      display: block;
    }
  }
}

@media (min-width: 1200px) {
  #bb-promo {
    .hidden-lg {
      display: none;
    }

    .visible-lg {
      display: block;
    }
  }
}
/* grid end */