#bb-promo {
  /* common start */
  /* common end */
  /* grid start */
  /* grid end */
  background-color: #1D365B;
  bottom: 0;
  color: white;
  display: none;
  position: fixed;
  z-index: 1; }
  #bb-promo .row-eq-height {
    display: flex;
    flex-wrap: wrap; }
  #bb-promo .btn, #bb-promo a.btn {
    background-color: #8ac53f;
    box-shadow: none !important;
    display: inline-block;
    border-radius: 4px;
    color: white;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700 !important;
    padding: 10px 20px !important;
    text-align: center;
    text-transform: uppercase; }
  #bb-promo .col-lg-1, #bb-promo .col-lg-10, #bb-promo .col-lg-11, #bb-promo .col-lg-12, #bb-promo .col-lg-2, #bb-promo .col-lg-3, #bb-promo .col-lg-4, #bb-promo .col-lg-5, #bb-promo .col-lg-6, #bb-promo .col-lg-7, #bb-promo .col-lg-8, #bb-promo .col-lg-9, #bb-promo .col-md-1, #bb-promo .col-md-10, #bb-promo .col-md-11, #bb-promo .col-md-12, #bb-promo .col-md-2, #bb-promo .col-md-3, #bb-promo .col-md-4, #bb-promo .col-md-5, #bb-promo .col-md-6, #bb-promo .col-md-7, #bb-promo .col-md-8, #bb-promo .col-md-9, #bb-promo .col-sm-1, #bb-promo .col-sm-10, #bb-promo .col-sm-11, #bb-promo .col-sm-12, #bb-promo .col-sm-2, #bb-promo .col-sm-3, #bb-promo .col-sm-4, #bb-promo .col-sm-5, #bb-promo .col-sm-6, #bb-promo .col-sm-7, #bb-promo .col-sm-8, #bb-promo .col-sm-9, #bb-promo .col-xs-1, #bb-promo .col-xs-10, #bb-promo .col-xs-11, #bb-promo .col-xs-12, #bb-promo .col-xs-2, #bb-promo .col-xs-3, #bb-promo .col-xs-4, #bb-promo .col-xs-5, #bb-promo .col-xs-6, #bb-promo .col-xs-7, #bb-promo .col-xs-8, #bb-promo .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px; }
  #bb-promo .row {
    margin-right: -15px;
    margin-left: -15px;
    width: auto; }
  #bb-promo .visible-xs, #bb-promo .visible-sm, #bb-promo .visible-md, #bb-promo .visible-lg {
    display: none; }
  #bb-promo .logo {
    position: relative;
    text-align: center; }
  #bb-promo .logo img {
    max-height: none;
    max-width: none;
    position: relative;
    top: -22px; }
  #bb-promo .content {
    font-family: Open Sans;
    font-size: 16px; }
  #bb-promo .content .title {
    font-size: 20px;
    font-weight: 700; }
  #bb-promo .remove {
    cursor: pointer;
    z-index: 1; }

@media (max-width: 767px) {
  #bb-promo {
    padding: 15px; }
    #bb-promo .btn {
      font-size: 12px !important; }
    #bb-promo .remove {
      border: 2px solid white;
      background-color: #1D365B; }
    #bb-promo .cta .btn {
      width: 100%; }
    #bb-promo .content .title {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 15px;
      text-align: center; } }
@media (min-width: 768px) {
  #bb-promo .content {
    padding-bottom: 25px;
    padding-top: 25px; }
  #bb-promo .content .title {
    margin-bottom: 5px; }
  #bb-promo .cta {
    margin: auto;
    text-align: center; }
  #bb-promo .cta .btn {
    border: 2px solid white;
    background-color: #1D365B; }
  #bb-promo .cta .btn:hover {
    background: rgba(255, 255, 255, 0.8); }
  #bb-promo .remove {
    background: no-repeat center url(../img/close.png);
    height: 24px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 24px; } }
/* grid start */
@media (max-width: 767px) {
  #bb-promo .col-xs-6 {
    width: 50%; }
  #bb-promo .col-xs-12 {
    width: 100%; }
  #bb-promo .hidden-xs {
    display: none; }
  #bb-promo .visible-xs {
    display: block; } }
@media (min-width: 768px) and (max-width: 991px) {
  #bb-promo .col-sm-3 {
    width: 25%; }
  #bb-promo .col-sm-6 {
    width: 50%; }
  #bb-promo .hidden-sm {
    display: none; }
  #bb-promo .visible-sm {
    display: block; } }
@media (min-width: 992px) and (max-width: 1199px) {
  #bb-promo .hidden-md {
    display: none; }
  #bb-promo .visible-md {
    display: block; } }
@media (min-width: 1200px) {
  #bb-promo .hidden-lg {
    display: none; }
  #bb-promo .visible-lg {
    display: block; } }
/* grid end */

/*# sourceMappingURL=q-gh-promo.css.map */
